<footer id="spree-footer" class="rows" data-hook style="font-size: 11px;background-color: #F3F3F3;padding-bottom: 50px;">
  <div class="container">
    
    <div class="col-md-3" style="width: 14%;">
      <div class="About">
        <h4 style="font-size: 13px;"> About Us</h4>
        <a href="#">Who we Are</a>
        <a href="#">Blog</a><br/>
        <a href="#">Press</a><br/>
        <a href="#">Charity</a><br/>
      </div>
      <br>
      <div class="Join">
        <h4> Join Our Team</h4>
        <a href="#">Sell On Gift in Time</a><br>
        <a href="#">Careers</a><br/>
      </div>
      
    </div>
    
    <div class="col-md-3" style="width: 14%;">
      <h4 style="font-size: 13px;">Customer Care</h4>
        <a href="#">Gifting Points</a><br/>
        <a href="#">Returns</a><br/>
        <a href="#">Shipping</a><br/>
        <a href="#">Contact</a><br/>
        <a href="#">Terms + Conditions</a><br/>  
        <a href="#">FAQ's</a>
      </ul>
    </div>
    
    <div class="col-md-3" style="width: 20%;">
        <a href="https://www.facebook.com/giftintimeapp" style="text-decoration:none"><img src="/assets/fb.jpg"> </a>
        <a href="#" style="text-decoration:none"><img src="/assets/twitter.jpeg"></a>
        <a href="#" style="text-decoration:none"><img src="/assets/pin.jpg"></a>
        <a href="#" style="text-decoration:none"><img src="/assets/instagram.jpg"></a>
    </div>
    
    <div class="col-md-3" style="width: 42%;">
        <a href="#" style="text-decoration:none;color: #92D3BF;font-size: 13px;"><img src="/assets/msg.jpeg">Join our mailing and get the latest updates on our proudct!</a>
          <br> 
          <br>
          <input type="text" name="name" placeholder="name" style="border: solid 1px;border-color: #93D2BD;height: 25px;">
          <input type="text" name="email" placeholder="Email Address" style="margin-left: -5px;border: solid 1px;border-color: #93D2BD;height: 25px;">
          <button style="margin-left: -5px;border: solid 1px;border-color: #93D2BD;height: 25px;background-color: #93D2BF;">Join</button><br><br>
          <a href="#" style="text-decoration:none;color: #92D3BF;"><img src="/assets/gift.jpeg">Thoughtfull Gifting, Made Effortless.</a><br>
          <h6>&copy; 2016 All Rights Reseverd. Gift In Time <br> Design & Development by www.thiredeyepro.ca <h6>
    </div>
    </div>
   
  
    
  </div>
</footer>
